nav
    .container
        .row
            .col-3
                a(href='//volta.one' title='volta.one' class='logo')
                    svg(width='132px', height='30px', viewbox='0 0 132 30', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        defs
                            polygon#path-1(points='132 30 0 30 0 3.4192106e-15 132 0 132 30')
                        g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            g#Desktop-HD-Copy(transform='translate(-99.000000, -20.000000)')
                                g#Page-1(transform='translate(99.000000, 20.000000)')
                                    mask#mask-2(fill='white')
                                        use(xlink:href='#path-1')
                                    g#Clip-2
                                    path#Fill-1(d='M15.3064108,29.9870074 L0,0.320485058 L4.04619407,0.320485058 C6.65082142,5.53245753 15.4735145,23.1244887 15.4735145,23.1244887 C15.4735145,23.1244887 24.322868,5.48193061 26.9022632,0.320485058 L30.947029,0.320485058 L15.6368096,29.9942255 L15.3064108,29.9870074 Z M46.5795539,3.12881959 C40.2557986,3.12881959 35.1289056,8.44473317 35.1289056,15.0021654 C35.1289056,21.5595977 40.2557986,26.8755113 46.5795539,26.8755113 C52.9037852,26.8755113 58.0306782,21.5595977 58.0306782,15.0021654 C58.0306782,8.44473317 52.9037852,3.12881959 46.5795539,3.12881959 L46.5795539,3.12881959 Z M46.5795539,30 C38.3752872,30 31.7244658,23.2852125 31.7244658,15.0021654 C31.7244658,6.71911843 38.3752872,0.00433087917 46.5795539,0.00433087917 C54.7842966,0.00433087917 61.435118,6.71911843 61.435118,15.0021654 C61.435118,23.2852125 54.7842966,30 46.5795539,30 L46.5795539,30 Z M81.301412,29.6872143 L66.772914,29.6872143 L66.772914,0.316635388 L70.1730691,0.316635388 L70.1730691,26.2504211 L81.301412,26.2504211 L81.301412,29.6872143 Z M92.430231,3.75342861 L81.301412,3.75342861 L81.301412,0.316635388 L95.8303861,0.316635388 L95.8303861,29.6872143 L92.430231,29.6872143 L92.430231,3.75342861 Z M104.33125,3.75342861 C103.392422,3.75342861 102.631172,2.98445696 102.631172,2.035032 C102.631172,1.08608825 103.392422,0.316635388 104.33125,0.316635388 C105.270077,0.316635388 106.031327,1.08608825 106.031327,2.035032 C106.031327,2.98445696 105.270077,3.75342861 104.33125,3.75342861 L104.33125,3.75342861 Z M127.954282,29.6814398 C125.349179,24.4685049 116.526485,6.87166161 116.526485,6.87166161 C116.526485,6.87166161 107.677132,24.5190318 105.097737,29.6814398 L101.053447,29.6814398 L116.36319,0 L116.693589,0.00721813195 L132,29.6814398 L127.954282,29.6814398 Z', fill='#FEFEFE', mask='url(#mask-2)')

            .col-9
                ul.menu
                    li
                        a(href='index.html' title='' ) 1 - АНАЛИТИКА
                    li
                        a(href='creative.html' title='' ) 2 - КРЕАТИВ
                    li
                        a(href='tech.html' title='' class='active') 3 - ТЕХНИЧЕСКАЯ ЧАСТЬ