@import "../../utilities/vars"
@import "../../utilities/mixins"

/* LINKS */
a
  text-decoration none
  transitions()
  &:hover
    text-decoration none

  &:focus
    text-decoration none
