@import '../../utilities/vars'
@import '../../utilities/mixins'

/* MAIN STYLES */

html
  //overflow-x hidden

body
  //overflow-x hidden
  font(16px, $black, 400, normal)
  background #fff