@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  font-size 4.000em
  text-align center
  color $white
  text-transform uppercase
h2
  font-size 2em
  color $purple
  margin 75px 0 150px
  text-align center
h3 {}
h4 {}
h5 {}
h6 {}

/* PARAGRAPH */
p
  font(1em, $black, 400, normal)