@import '../../utilities/vars'
@import '../../utilities/mixins'

.info
  position relative

.info-pop
  position absolute
  width: 44.5%;
  top: 34.5%;
  right: 10.4%;
  opacity 0
  transitions()

.gif-pic
  position absolute
  top: 8.5%;
  left: 10.4%

  width 31.5%
  height 82%


.visibility
  opacity 1

.third-six
  position absolute
  top: 8.5%;
  left: 10.4%
  display block

  width 31.5%
  height 82%
  &:hover
    opacity .8
  img
    width 100%