@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section
  img
    width 100%

article {}

.justify-content-center
  justify-content center

.without-background
  background $white
.with-background
  background $gray

.container
  width 1170px !important