@import "../../utilities/vars"
@import "../../utilities/mixins"

/* BUTTON */
button {}

.info-button
  width 20px
  height 20px
  background transparent
  position absolute
  top 23%
  right 13.5%
  cursor pointer
  background $purple
  border-radius 50%
  text-align center
  color $white
  &:hover
    background $crimson