@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADER */
header
  background url('../img/jumbotron1.png') no-repeat center
  background-size cover
  height 714px

header.second
  background url('../img/jumbotron2.png') no-repeat center

header.third
  background url('../img/jumbotron3.png') no-repeat center