@import '../../utilities/vars'
@import '../../utilities/mixins'

/* TABLES */
table
  thead {}
  tbody {}
  tfoot {}
  caption {}
  tr {}
  th {}
  td {}

+keyframes(namean)
  0%
    opacity 1
  100%
    opacity 0

table
  animations(namean, 5s)