// links
mixin link(href, className, name, target)
    a(href= href, class= className, title='', target= target)= name

mixin link2(href, target)
    a(href= href, title='')= name

// images
mixin img(src, className, error)
    img(src= src, class= className, title='', alt='', onerror=error)
mixin img2(src)
    img(src= src, title='', alt='')

// input
mixin input(type, placeholder)
    input(type= type, placeholder= placeholder)