include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body
        include ../partials/_navigation2.pug

        main
            include ../partials/_header2.pug

            block content

            include ../partials/_footer.pug