include ../utilities/_mixins.pug

doctype html

html

    include ../partials/_head.pug

    body
        include ../partials/_navigation3.pug

        main
            include ../partials/_header3.pug

            block content

            include ../partials/_footer.pug