//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Staropramen - Аналитика

block content

    section.with-background
        .container
            .row
                .col-12
                    .slider-1
                        img(src='img/slider1/slide1-1a.png' alt='' title='')
                        img(src='img/slider1/slide1-1b.png' alt='' title='')
                        img(src='img/slider1/slide1-1c.png' alt='' title='')

    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider1/slide1-2.png' alt='' title='')
    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider1/slide1-3.png' alt='' title='')
    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider1/slide1-4.png' alt='' title='')
    section.with-background
        .container
            .row
                .col-12
                    .slider-1
                        img(src='img/slider1/slide1-5a.png' alt='' title='')
                        img(src='img/slider1/slide1-5b.png' alt='' title='')
                        img(src='img/slider1/slide1-5c.png' alt='' title='')
    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider1/slide1-6.png' alt='' title='')

    section.without-background
        .container
            .row.justify-content-center
                .col-8
                    ul.footer-menu.forever-alone
                        li
                            a(href='creative.html' title='')
                                | Следующий раздел
                                i.fa.fa-angle-right
