//- layouts/layout.pug
extend layouts/_layout3.pug

block title
    | Staropramen - Техническая часть

block content

    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider3/slide3-1.png' alt='' title='')
    section.with-background
        .container
            .row
                .col-12
                    img(src='img/slider3/slide3-2.png' alt='' title='')
    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider3/slide3-3.png' alt='' title='')
    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider3/slide3-4.png' alt='' title='')
    section.without-background
        .container
            .row
                .col-12
                    img(src='img/slider3/slide3-5.png' alt='' title='')

    section.without-background
        .container
            .row.justify-content-center
                .col-8
                    h2 Спасибо за просмотр!

